.header-infor {
  padding-top: 15px;
  margin-bottom: 10px;
  .custommer-infor {
    display: inline-block;
    margin-left: 20px;
    .infor-item {
      float: left;
      display: inline-block;
      text-align: left;
      padding-right: 10px;
      p {
        line-height: 14px;
      }
      &:last-child {
        padding-right: 0;
      }
      a {
        color: $main-color;
        font-weight: 600;
      }
    }
  }
}

.page-title.feature-post {
  padding: $padding-zero;
  iframe {
    width: $width-all;
  }
}

.page-header {
  @extend %time-transition;
  background-color: $bg-color;
  margin: 0;
  border-bottom: none;
  padding: 0;
  z-index: 9999;
  width: $width-all;
  .header-logo,.header-nav {
    display: inline-block;
  }
}

.header-nav {
  text-align: right;
  float: right;
}

input[type="checkbox"] {
  display: none;
}

.main-nav .main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  .menu-item {
    position: relative;
    display: inline-block; 
    padding: 0 6px;
    &:last-child {
      padding-right: 0;
    }
    &:last-child a {
      margin-right: 0;
    }
    a {
      @extend %time-transition;
      font-family: $font-title;
      position: relative;
      display: block;
      text-transform: uppercase;
      font-weight: 600;
      color: $color-a;
      margin: 0 15px;
      &:hover {
        color: $main-color;
      }
    }
  }
}

.page-header .header-logo {
  @extend %time-transition;
  line-height: 110px;
}

.btn-menu {
  @include transition(all ease .238s);
  display: none;
  position: relative;
  background: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  float: left;
  right: 40px;
  top: 35px;  
  padding: 0;
  border: none;
  &::before,
  &::after {
    @include transform-origin(50% 50%);
    @include transition(all ease .238s);
    background-color: $main-color;
    position: absolute;
    top: 0;
    right: 0;
    top: 50%;
    content: '';
    height: 2px;
    width: 30px;  
  }
  &::before {
    @include transform(translate3d(0, -9px, 0));
  }
  &::after {
    @include transform(translate3d(0, 9px, 0));
    width: 25px;
  }
  &:hover span {
    display: none;
  }
  &:hover::before {
    @include transform (rotate3d(0, 0, 1, -45deg));
  }
  &:hover::after {
    @include transform (rotate3d(0, 0, 1, 45deg));
    width: 30px;
  }
  span {
    @include transition(all ease .238s);
    background-color: $main-color;
    position: absolute;
    width: 20px;
    height: 2px;
    right: 0;
    top: 50%;
    overflow: hidden;
    text-indent: 200%;
  }
}

@media only screen and (max-width: 991px) {
  .header-infor {
    display: none;
  }

  .main-nav {
    display: block;
    position: relative;
    top: 40px;
    right: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none;
      &:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
      }
      &:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      &:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
      }
    }
    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: $main-color;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
      &:last-child {
        transform-origin: 0% 0%;
      }
      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }
    .main-menu {
      position: absolute;
      top: 0;
      right: -40px;
      width: 300px;
      margin: -100px 0 0 -300px;
      padding: 50px;
      padding-top: 140px;
      background: $main-color;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(0, -100%);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      .menu-item {
        display: block;
        padding: 5px 0;
        font-size: 16px;
        a {
          margin: 0;
          text-align: left;
          &:hover {
            color: $color-a-second;
          }
        }
      }
    }
    input:checked ~ .main-menu {
      right: -40px;
      transform: none;
    }
  }
}

@media (max-width: 320px) {	
  .main-nav .main-menu {
    width: 320px;
  }
}



