.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* Top 
-----------------------------------------------------------------*/
.header-infor {
  padding-top: 10px;
}

.header-infor .custommer-infor {
  display: inline-block;
  margin-left: 20px;
}

.header-infor .custommer-infor .list-infor .infor-item {
  float: left;
  display: inline-block;
  text-align: left;
}

.header-infor .custommer-infor .list-infor .icon-item {
  padding-right: 10px;
}

.header-infor .custommer-infor .list-infor .text-item a {
  color: #ffa800;
  font-weight: 600;
}

/* Header
-------------------------------------------------------------- */
.wrap-slider {
  z-index: 0;
  position: relative;
}

.page-title.feature-post {
  padding: 0;
}

.page-title.feature-post iframe {
  width: 100%;
}

.page-header {
  background-color: #fff;
  margin: 0;
  border-bottom: none;
  padding: 0;
  z-index: 9999;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;	
}

/* .page-header.style-color .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
  opacity: 0.45;
  filter: alpha(opacity=45);
} */

.page-header .header-wrap .header-logo,
.nav-wrap {		
  display: inline-block;
}

/* Header Fix */
.page-header.downscrolled {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; 
    background: #fff;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.07);
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    visibility: hidden;   
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.page-header.upscrolled {	
     opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
      filter: alpha(opacity=80);
  visibility: visible;   
  top: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

/* navigation */
.header-nav {
  text-align: right;
  float: right;
}

.main-nav .main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav .main-menu .menu-item {
  position: relative;
}

.main-nav .main-menu .menu-item {
  display: inline-block; 
  padding: 0 6px;  
}

.main-nav .main-menu .menu-item:last-child {
  padding-right: 0;
}

.main-nav .main-menu .menu-item:last-child a {
  margin-right: 0;
}

.main-nav .main-menu .menu-item a {
  position: relative;
  display: block;
  font-family: "MyriadPro Regular", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  text-decoration: none; 
  font-size: 14px;
  margin: 0 15px;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
} 

.main-nav .main-menu .menu-item a:hover {
  color: #ffa800;
}

.main-nav .menu .has-sub:hover:before,
.main-nav .main-menu .menu-item a:hover,
.main-nav .main-menu .menu-item.active:hover:after,
.main-nav .main-menu .menu-item.active a:hover {
  color: #fa9601;
}

.main-nav .main-menu .menu-item a:hover:after,
.main-nav .main-menu .menu-item.active > a:after {
  width: 100%;
}

.page-header #main-nav .main-menu .menu-item a {
  padding: 12px 0;
} 

.heapage-headerder.style-v1 #main-nav .main-menu .menu-item a {
  line-height: 100px;
}

.page-header .header-logo {
  line-height: 100px;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

/* sub-menu */
.main-nav ul.sub-menu {
  position: absolute;
  left: 0;
  top: 150%;
  width: 300px;
  text-align: left;
  background-color: #222;
  z-index: 9999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    opacity: 0;  
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.header.is-sticky .btn-menu {
	margin: 20px 40px;
}

/* Button menu mobile */
.btn-menu {
  display: none;
  position: relative;
  background: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  float: left;
  /*margin-right: 15px;*/
  -webkit-transition: all ease .238s;
  -moz-transition: all ease .238s;
  transition: all ease .238s;
  right: 40px;
  top: 35px;
}

.btn-menu:before,
.btn-menu:after, 
.btn-menu span {
  background-color: #ffa800;
  -webkit-transition: all ease .238s;
     -moz-transition: all ease .238s;
          transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after {
  content: '';
  position: absolute;
  top: 0;
  height: 2px;
  width: 30px;
  right: 0;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.btn-menu span {
  position: absolute;
  width: 20px;
  height: 2px;
  right: 0;
  top: 50%;
  overflow: hidden;
  text-indent: 200%;
}

.btn-menu:before {
  -webkit-transform: translate3d(0, -9px, 0);
          transform: translate3d(0, -9px, 0);
}

.btn-menu:after {
  width: 25px;
  -webkit-transform: translate3d(0, 9px, 0);
          transform: translate3d(0, 9px, 0);
}

/* .btn-menu.active:after {
  width: 24px;
}

.btn-menu.active span {
  opacity: 0;
} */

.btn-menu:hover span {
  display: none;
}

.btn-menu:hover:before {
-webkit-transform: rotate3d(0, 0, 1, -45deg);
         transform: rotate3d(0, 0, 1, -45deg);
}

.btn-menu:hover:after {
  width: 30px;
-webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
}

.btn-submenu {
  position: absolute;
  right: 20px;
  top: 0;
  font: 20px/50px 'FontAwesome';
  text-align: center;
  cursor: pointer;
  width: 70px;
  height: 44px;
}

.btn-submenu:before {
  content: "\f107";
  color: #fff;
}

.btn-submenu.active:before {
  content: "\f106"
}

.btn-menu {
  display: none;
  padding: 0;
  border: none;
  background: transparent;
}

/* Revolution Slider
-------------------------------------------------------------- */
.tp-banner-container {
  max-height: 1000px !important;
  width: 100% !important;
  position: relative;
  overflow: hidden !important;
  padding: 0;
  background-color: #fff;
}

.tp-banner-container {
  position: relative;
}

.tp-banner-container .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  opacity: 0.2;
  filter: alpha(opacity=20);
}

/* title-section
-------------------------------------------------------------- */
.section-padding {
  display: flex;
  padding: 30px 0 50px;
}

.section-title {
  margin-bottom: 35px;
  font-family: "MyriadPro Regular";
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  margin-right: 20px;
}

.section-title.color-white,
.section-title.color-white.color-white-repon {
  color: #fff;
}


/* section-banner
-------------------------------------------------------------- */
.section-banner {
  position: relative;
}

.section-banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.30);
}

.section-banner .banner-caption {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  right: 15px;
}

.section-banner .banner-caption .banner-title {
  font-family: "UTM FacebookB K&T", sans-serif;
  text-transform: uppercase;
  font-size: 52px;
  line-height: 66px;
  color: #fff;
  letter-spacing: 1.5px;
  font-weight: 800;
  margin-bottom: 15px; 
}

.section-banner .banner-caption .banner-text {
  font-family: "UTM BryantLG", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 40px; 
}

.section-banner .banner-caption a {
  font-family: "UTM BryantLG",sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  border: 2px solid #fff;
  padding: 8px 20px;
  border-radius: 5px;
  margin: 0 10px;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.section-banner .banner-caption a:hover {
  background-color: #0ec0ee;
  border: 2px solid #0ec0ee;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

/* destination
-------------------------------------------------------------- */
.section-destination {
  position: relative;
  margin-top: -140px;
}

.destination-top {
  display: inline-block;
}

.top-title .section-title {
  float: left;
}

.top-title a {
  text-transform: uppercase;
  font-family: "MyriadPro Regular", sans-serif;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #ffa800;
  color: #fff;
}

.top-title a:hover {
  color: #fff;
  background-color: #0ec0ee;
}

.destination-content .destination-list {
  margin: 0 -10px;
}

.destination-content .destination-item {
  float: left;
  width: 25%;
  padding: 0 10px; 
}

.destination-content .box-item {
  box-shadow: 0px 1px 2px 0px rgba(3, 3, 3, 0.15); 
  border-radius: 5px;
}

.destination-content .destination-name {
  padding: 15px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}

.destination-img {
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.destination-content .destination-img img {
  border-radius: 5px 5px 0 0;
  width: 100%;
	-webkit-transition: opacity 0.5s, 
	-webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.destination-content .destination-item:hover .destination-img img {
  opacity: 0.9;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

.destination-content .destination-name .destination-title a {
  font-size: 15px;
  line-height: 18px;
  color: #282828;
  text-transform: uppercase;
  font-weight: 600;
}

.destination-content .destination-name .destination-title a:hover {
  color: #ffa800;
}

.destination-content .destination-name .price-tour .price-color {
  font-size: 18px;
  line-height: 24px;
  color: #0ec0ee;
  text-transform: uppercase;
  font-weight: 600;
}

/* tabs search
-------------------------------------------------------------- */
.section-search {
  background-size: cover;
}

.search-logo {
  float: left;
  width: 20%;
	padding-top: 50px;
}

.search-group {
  display: inline-block;
  width: 80%;
}

.search-group .tab-link .tab-item {
  float: left;
  font-family: "MyriadPro Regular", sans-serif;
	font-size: 26px;
	display: inline-block;
  margin: 0 0 -1px;
  padding: 20px 35px;
	text-align: left;
	text-transform: uppercase;
  color: #000;
	border-radius: 5px 5px 0 0;
  z-index: 99;
  position: relative;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  text-align: left;
}

.search-group .tab-link .tab-item:nth-child(2) {
  border: 1px solid transparent;
}

.search-group .tab-link .tab-item .tab-title {
  display: block;
}

.search-group .tab-link .tab-item .sub-title {
  font-size: 14px;
  margin-top: 8px;
  color: #737373;
}
.search-group .tabs-content input {
  border-radius: 20px;
  display: inline;
  margin-right: 15px;
  margin-bottom: 0;
}

.search-group .tabs-content .tab-content-list .content-item:last-child {
  display: none;
}

.search-group .tabs-content input[name="location"] {
  width: 44%;
}

.search-group .tabs-content input[name="length"], 
.search-group .tabs-content input[name="price"] {
  width: 15%;
}

.search-group .tabs-content {
  padding-top: 50px;
  display: inline-block;
  width: 100%;
  border-top: 1px solid #ddd;
}

.search-group .tabs-content .btn-search {
  position: relative;
  height: 40px;
  border-radius: 20px;
  background-color: #0ec0ee;
  border-color: #0ec0ee;
  color: #fff;
  padding: 0 40px;
  text-transform: none;
  margin-left: 20px;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.search-group .tabs-content .btn-search:hover {
  background-color: #ffa800;
  border-color: #ffa800;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.search-group .tabs-content .btn-search:before {
  position: absolute;
  top: 2px;
  left: -20px;
  content: "";
  width: 1px;
  height: 30px;
  background-color: #e3e3e3;
}

.tabs-list .tabs-item .tabs-content input {
  border-radius: 20px;
  display: inline;
  margin-right: 15px;
  margin-bottom: 0;
}

.tabs-list .tabs-item .tabs-content input[name="location"] {
  width: 44%;
}

.tabs-list .tabs-item .tabs-content input[name="length"], 
.tabs-list .tabs-item .tabs-content input[name="price"] {
  width: 15%;
}

.tabs-list .tabs-item .tabs-content .btn-search {
  position: relative;
  height: 40px;
  border-radius: 20px;
  background-color: #0ec0ee;
  border-color: #0ec0ee;
  color: #fff;
  padding: 0 40px;
  text-transform: none;
  margin-left: 20px;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.tabs-list .tabs-item .tabs-content .btn-search:hover {
  background-color: #ffa800;
  border-color: #ffa800;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.tabs-list .tabs-item .tabs-content .btn-search:before {
  position: absolute;
  top: 2px;
  left: -20px;
  content: "";
  width: 1px;
  height: 30px;
  background-color: #e3e3e3;
}





/* section-list-tour
-------------------------------------------------------------- */
.box-list-tour {
  margin: 0 -10px;
}

.section-gird-tour {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}

.section-gird-tour .post-gird-tour {
  box-shadow: 0px 1px 2px 0px rgba(3, 3, 3, 0.15); 
  background-color: #fff;
  border-radius: 5px;
}

.section-gird-tour .gird-tour-title {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
}

.section-gird-tour .title-tour {
  padding: 25px 25px 15px;
}

.section-gird-tour .sub-title {
  color: #969696;
}

.section-gird-tour img {
  background-size: cover;
}

.section-gird-tour .tour-img {
  position: relative;
}

.section-gird-tour .info-img img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.section-gird-tour .tour-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  visibility: hidden;
  height: 100%;
  content: "";
  z-index: 10;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,1) 100%);
  background: -moz-linear-gradient(top,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top,rgba(0,0x,0,0.2) 50%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,1) 100%);
  background: linear-gradient(top,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,1) 100%);
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.section-gird-tour .tour-img:hover .overlay {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.section-gird-tour .infor-list {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 10px;
  z-index: 10;
}

.section-gird-tour .infor-list .infor-icon-item {
  display: inline-block;
}

.section-gird-tour .infor-list .infor-icon-item:nth-child(2) {
  float: right;
  padding-top: 25px;
}

.section-gird-tour .infor-list .infor-icon-item img {
  float: left;
  margin-right: 10px;
}

.section-gird-tour .infor-list .infor-icon-item .content-name {
  overflow: hidden;
}

.section-gird-tour .infor-list span {
  color: #fff;
}

.section-gird-tour .infor-list span.price-tour {
  float: right;
}

.section-gird-tour .infor-list .name-tour a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.section-gird-tour .infor-list .name-tour a:hover {
  color: #ffa800;
}

.section-gird-tour .orther-tour {
  position: relative;
  text-align: right;
  padding: 15px 10px;
}

.section-gird-tour .orther-tour::after {
  position: absolute;
  content: ">";
  top: 18px;
  right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  line-height: 16px;
  background-color: #0ec0ee;
  color: #fff;
  text-align: center;
}

.section-gird-tour .orther-tour a {
  font-size: 15px;
  padding-right: 20px;
}

/* section-support-online
-------------------------------------------------------------- */
.section-support-online .style-center {
  display: flex;
  justify-content: center;
}
.section-support-online .support-list {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 35px 0;
  border-radius: 5px;
}

.section-support-online .support-list .support-item {
  position: relative;
  width: 25%;
  float: left;
  text-align: center;
}

.section-support-online .support-list .support-item a img {
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.section-support-online .support-list .support-item a.skype-support:hover img,
.section-support-online .support-list .support-item a.phone-support:hover img {
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
               transform: rotateY(-180deg);
}

.section-support-online .support-list .support-item::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 1px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.2);
} 

.section-support-online .support-list .support-item:last-child::after {
  background-color: transparent;
}

.section-support-online .support-list .support-item .support-title {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}

.section-support-online .support-list .support-item a {
  margin: 0 9px;
}

/* section-activity-images
-------------------------------------------------------------- */
.album-list {
  margin: 0 -10px;
}

.activity-title {
  display: inline-block;
}

.album-list .album-item {
  float: left;
  width: 25%;
  padding: 0 10px;
  border-radius: 5px;
}

.album-list .album-item .album-img {
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.album-list .album-item .album-img a {
  position: absolute;
  bottom: 15px;
  left: 15px;
  content: "";
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}

.album-list .album-item .album-img a:hover {
  color: #ffa800;
}

.album-list .album-item .album-img img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  transition: opacity 0.5s, transform 0.5s;
          -webkit-transition: opacity 0.5s, 
                    -webkit-transform 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.album-list .album-item:hover .album-img img {
  opacity: 0.9;
  -webkit-transform: scale3d(1.1,1.1,1);
  transform: scale3d(1.1,1.1,1);
}

.album-list .album-item .album-content {
  background-color: #373940;
  border-radius: 0 0 5px 5px;
  padding: 15px;
  margin-top: -1px;
}

.album-list .album-item .album-content ul li {
  color: #fff;
  display: inline-block;
}

.album-list .album-item .album-content ul li.day-tour {
  float: right;
}

/* footer
-------------------------------------------------------------- */
.page-footer {
  background-color: #fff;
  padding-top: 25px;
}

.footer-list {
  display: inline-block;
  width: 100%;
}

.footer-list .footer-item {
  float: left;
  width: 25%;
}

.footer-list .footer-item.footer-infomation,
.footer-list .footer-item.footer-social {
  width: 20%;
}

.footer-list .footer-item.footer-email {
  width: 35%;
}

.footer-list .footer-item .footer-title {
  text-transform: uppercase;
  font-weight: 600;
  color: #282828;
  margin-bottom: 5px;
}

.footer-list .footer-item .infomation-list .infomation-item a {
  color: #282828;
  line-height: 24px;
}

.footer-list .footer-item .infomation-list .infomation-item a:hover {
  color: #fa9601;
}

.footer-list .footer-social .social-list .social-item {
  margin-bottom: 5px;
}

.footer-list .footer-social img {
  margin-right: 5px;
}

.footer-list .footer-item.footer-email {
  padding-top: 30px;
}

.footer-list .footer-item.footer-email p {
  margin-bottom: 20px;
}

.footer-list .footer-email .form-footer {
  position: relative;
}

.footer-list .footer-email input[type="text"] {
  height: 52px;
  line-height: 52px;
  border-radius: 5px;
}

.footer-list .footer-email a {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 88px;
  height: 52px;
  background-color: #0ec0ee;
  border-radius: 5px;
  text-align: center;
  line-height: 52px;
}

.footer-list .footer-email a:hover {
  background-color: #ffa800;
}

.form-footer input::-webkit-input-placeholder{
  font-style: italic
 }

/* footer-bottom
-------------------------------------------------------------- */
.footer-bottom {
  padding: 15px 0;
}

.footer-bottom .bottom-webdesign {
  float: right;
}

.bottom-list .bottom-webdesign a {
  color: #30b549;
}

.bottom-list .bottom-webdesign a:hover {
  color: #ffa800;
}

/* Parallax
-------------------------------------------------------------- */
.parallax {
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-position: 50% 0;
  background-size: cover;
}

.parallax1 {
  background-image: url(../images/parallax/bg-parallax1.jpg); 
}

.parallax .overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  width: 100%;
  height: 100%;	
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: 0.5;
  filter: alpha(opacity=50); 
}




