
$font-body: 14px/22px "MyriadPro Regular", sans-serif;
$font-title: "MyriadPro Regular", sans-serif;
$font-first: "UTM FacebookB K&T", sans-serif;
$font-second: "UTM BryantLG", sans-serif;
$width-all: 100%;
$height-all: 100%;
$padding-zero: 0;
$bg-color: #fff;
$bg-second: rgba(0, 0, 0, 0.30);
$bg-third: #0ec0ee;
$main-color: #ffa800;
$color-a: #333;
$color-a-second: #fff;
$color-a-third: #0ec0ee;
$color-title: #000;
$boder-first: solid #fff;
$boder-second: solid #0ec0ee;
$boder-third: solid #ddd;
